# Root-level .gitignore

# Ignore all env files
.env
.env.local
.env.production
*.env

# Infura / sensitive keys
INFURA_API_KEY*
INFURA_API_SECRET*
PRIVATE_KEY*
VITE_INFURA_PROJECT_SECRET*
E_INFURA_PROJECT_ID*
EPOLIA_RPC_UR*

# Ignore all uploads or sensitive directories
/uploads/
/dist/
/build/
